<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the installation.
 * You don't have to use the web site, you can copy this file to "wp-config.php"
 * and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * Database settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://wordpress.org/support/article/editing-wp-config-php/
 *
 * @package WordPress
 */

// ** Database settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', 'wordpress' );

/** Database username */
define( 'DB_USER', 'wordpress' );

/** Database password */
define( 'DB_PASSWORD', 'wordpress' );

/** Database hostname */
define( 'DB_HOST', 'localhost:33060' );

/** Database charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8mb4' );

/** The database collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication unique keys and salts.
 *
 * Change these to different unique phrases! You can generate these using
 * the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}.
 *
 * You can change these at any point in time to invalidate all existing cookies.
 * This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define( 'AUTH_KEY',         'g7)^XYQF[<^GIeArto?QY=QNua0gn<1y,S4v!mvfel*2,J)%h{%ZCNOvmJ|Up [f' );
define( 'SECURE_AUTH_KEY',  'QuOv;d$dbr{Fc}c3^CBI<<.3CG[OSm.0^>sO-F?yN>h1kA1kMDQ{|((?Z8YIVoL+' );
define( 'LOGGED_IN_KEY',    'EgFREW;R@L$1uDm{w_(JBGplk_w:pvBh7];k;Nf}Z?QU8];GyP9hXP{VdeTU?}@8' );
define( 'NONCE_KEY',        '6&l]rTh`)#CXAWIP_lPks;22j_YSD1T8Ow6Evla%E!=zFjrV8bSEMhjfvq7X2?`s' );
define( 'AUTH_SALT',        'vKx32oVE6eUN<!xjFT?h6X^0)nxPZ1!C)rrKBHB j;rU,u^a{9$=BL94yaP>>_Gf' );
define( 'SECURE_AUTH_SALT', 'dn$TQB_{OS2vx/,:Lwc1bJG#NR9UsFR=$qb?i*[0rrVf8s:B9p0H@l&wy>3E{J:,' );
define( 'LOGGED_IN_SALT',   '[]/H:)M*nk`@pT=Tnc,!TKq 8%N!.$VoEbZ|_~>uK/j8>xQM|[lH{v>zjGw+mkTz' );
define( 'NONCE_SALT',       'ldb][})Y;P*+_7cW!z^UB?=;0E6lxhHyQolp9w2BDibzh.TJp#rf$UtDwK>yu5O{' );

/**#@-*/

/**
 * WordPress database table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the documentation.
 *
 * @link https://wordpress.org/support/article/debugging-in-wordpress/
 */
define( 'WP_DEBUG', false );

/* Add any custom values between this line and the "stop editing" line. */



/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';
